<div class="card col-sm-5 mx-auto mt-5" style="font-size: 2rem">
  <div class="card-body">
    <h1 class="mt-1 mb-3">ログイン</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group p-4 m-2">
      <%= f.label :email, "メールアドレス", :class => "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
    </div>

    <div class="form-group p-4 m-2">
      <%= f.label :password, "パスワード", :class => "form-label" %>
      <%= f.password_field :password, :class => "form-control" %>
      
    <% if devise_mapping.rememberable? %>
    <div class="form-check p-4 m-2 items-center">
      <%= f.check_box :remember_me, :class => "form-check-input" %>
      <%= f.label :remember_me, "ログインを記憶", :class => "form-check-label" %>
    </div>
    <% end %>
    </div>

    <div class="actions p-4 m-2 text-center">
      <%= f.submit "ログイン", :class => "btn btn-danger" %>
    </div>
    <% end %>

    <div class="small text-muted text-center m-4">新しいユーザですか? <br/>
    <%= link_to "アカウントを作成", new_user_registration_path, :class => "btn btn-light btn-block border m-1" %>
    </div>
  </div>
</div>