<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
          <%= form.label :image, "イメージ"  %>
          <%= form.file_field :image %><br>
        </div>

  <div class="field">
    <%= form.label :caption, "キャプション" , :class => "form-label" %>
    <%= form.text_area :caption,  :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :detail, "デスクリプション" %>
    <%= form.text_area :detail %>
  </div>
  <div><%= form.hidden_field :user_id, :value => current_user.id %></div>
    

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
