<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @post.caption %>
</p>

<p>
  <% if @post.image.attached? %>
    <%= image_tag @post.image, class: "card-img" %>
  <% else %> <p>Nothing </p>
  <% end %>
</p>
<p>
  <strong>Detail:</strong>
  <%= @post.detail %>
</p>
<p>
  <strong>Like:</strong>
  <%= @post.like %>
</p>




<div style="border-style: solid;text-indent:20px;margin:10px;">
    <div style="margin:10px;">
        <% @post.comments.each do |comment| %>
        <% if comment.user.avatar.attached? %>
            <div style="width: 60px ;" ><%= image_tag comment.user.avatar, class: "card-img-top" %></div>
        <% end %>
        <div> <%= comment.user.name %> </div>
        <div class="card-body" style="margin-bottom: 10px;"> 
        <p class="card-text"><%= comment.comment %></p>
        </div>
      <% end %>
    </div>
  
</div>
<% if user_signed_in? %>
<form action="/comments" method="post">
  <input name="comment" type="text" style="width:50%;"/>
  <input type="hidden" name="user_id" value = <%= current_user.id %> />
  <input type="hidden" name="post_id" value = <%= @post.id %> />
  <button type="submit"> Comment </button>
</form>

<% if @post.user_id == current_user.id %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<% end %>



<%= link_to 'Back', posts_path %>
